.form {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form input[type="text"] {
  height: 40px;
  padding: 0 20px;
  font-size: 20px;
  border: 1px solid #ccc;
  min-height: 80%;
}

.form button[type="submit"]{
  border: none;
  padding: 0 20px;
  height: 40px;
  background: #dc732b;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
