.tarefas {
  margin-top: 30px;
}

.tarefas li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  transition: all 600ms;
}

.tarefas li:hover {
  background: #FF5794;
}

.tarefas li .edit {
  margin-right: 15px;
  color: #aaf0d1;
}

.tarefas li .winClose {
  color: red;
}

.tarefas li:hover .edit,
.tarefas li:hover .winClose {
  color: #000;
}

.tarefas li .edit,
.tarefas li .winClose {
  cursor: pointer;
  transition: all 600ms;
}

.tarefas li span {
  display: flex;
  align-items: center;
}
